<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="contentHeaderGrid">
    <ion-row>
      <ion-col sizeSm="12" sizeXs="12">
        <ion-card class="contentHeaderBorder circular-image-card">
           <img src="../../assets/images/pexels-giorgio-de-angelis-482403-1413412.jpg" alt="logo">

            <ion-card-content>
              <div class="buttonContainer">
                <ion-button expand="block" shape="round" color="dark">Message</ion-button>
                <ion-button expand="block" shape="round" fill="outline" color="danger">Say! Hi</ion-button>
              </div>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="contentHeaderGrid"> 
    <ion-row>
      <ion-col sizeLg="6" sizeSm="12" sizeXs="12">
        <ion-card class="subContentSection"></ion-card>
      </ion-col>
      <ion-col sizeLg="6" sizeSm="12" sizeXs="12">
        <ion-card class="subContentSection"></ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>