ion-grid {
  padding: 0%;
  margin: 0%;
}

ion-row {
  padding: 0%;
  margin: 0%;
}

ion-col {
  padding: 0%;
  margin: 0%;
}

ion-content{
  --background-color: #f4f2ee;
}

.contentHeaderGrid {
  display: flex;
  justify-content: center;
  background-color: #f4f2ee;
}

.contentHeaderBorder {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 500px;
  border-radius: 5%;
}

.circular-image-card {
  display: flex;
  justify-content: left; /* Aligns image to the left */
}

.circular-image {
  width: 100px; /* Set the desired size */
  height: 100px; /* Same as width to create a square */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the entire circular area */
}

img {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid gray;
}

.subContentSection {
  width: 500px;
  height: 500px;
  border-radius: 5%;
}

ion-card-content {

  position: absolute;
  top: 80%;
  left: 5%;
}

.buttonContainer{
  display: inline-flex;
  justify-content: center;
}

.alignment{
  display: flex;
  justify-content: center;
}

.headerTitle{
  width: 400px;
  position: absolute;
  top: 20%;
  margin-inline: 150%;
  // font-size: 36px;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
}

.headerTitle {
  font-size: 3.5rem;
}

.subTitle{
  width: 400px;
  position: absolute;
  top: 34%;
  margin-inline: 150%;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.0rem;
}

.messageButton {
  --color: white; /* This sets the text color */
  border-radius: 99px;
  border: 3px solid red;
  background-color: red;
}

.messageButton ion-icon {
  color: white; /* Sets icon color */
}


.messageButton:hover {
  --color: white; /* This sets the text color */
  border-radius: 99px;
  border: 3px solid blue;
  background-color: blue;
}

.messageButton:hover  ion-icon {
  color: white; /* Sets icon color */
}

.messageButton:active {
  --color: white; /* This sets the text color */
  border-radius: 99px;
  border: 3px solid blue;
  background-color: blue;
}

.messageButton:active  ion-icon {
  color: white; /* Sets icon color */
}

.countryContainer{
  height: 70px;
  width: 500px;
  position: absolute;
  top: 45%;
  // margin-inline: 20%;
  p{
    margin-inline: 10%;
    gap:20px;
    height: 50px;
  }
  ion-button{
    cursor: pointer;
    text-transform: none;
  }
}

.contactButton:hover{
  border-bottom: 1px solid blue;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.headerTitle {
  opacity: 0; /* Initial state */
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.3s; /* Optional delay */
}

@media (max-width: 1024px) {
  .contentHeaderBorder {
    width: 900px;
  }
  img {
    position: absolute;
    top: 25%;
    width: 250px;
    height: 250px;
  }
  .subContentSection {
    width: 440px;
  }
  ion-card-content {
    position: absolute;
    top: 70%;
    left: 5%;
  }
  .countryContainer{
    width: 500px;
    position: absolute;
    top: 45%;
    // margin-inline: 20%;
    p{
      margin-inline: 10%;
    }
    ion-button{
      cursor: pointer;
      text-transform: none;
    }
  }
}



@media (max-width: 768px) {
  .contentHeaderBorder {
    width: 700px;
  }

  img {
    position: absolute;
    top: 25%;
    width: 200px;
    height: 200px;
  }
  .subContentSection {
    width: 700px;
  }
  ion-card-content {

    position: absolute;
    top: 80%;
    left: 5%;
  }
  .headerTitle {
    top: 25%;
    font-size: 2.5rem;
    color: black;
    transition: color 0.3s ease, font-size 0.3s ease; /* Transition for color and font-size */
    margin-inline: 100%;
  }

  .subTitle{
    top: 35%;
    font-size: 1.5rem;
    color: black;
    margin-inline: 100%;
  }
  .countryContainer{
    width: 500px;
    position: absolute;
    top: 60%;
    // margin-inline: 20%;
    p{
      margin-inline: 1%;
    }
    ion-button{
      cursor: pointer;
      text-transform: none;
    }
  }
  

}

@media (max-width: 431px) {
  .contentHeaderBorder {
    width: 400px;
  }

  img {
    position: absolute;
    top: 2%;
    left:30%;
    width: 150px;
    height: 150px;
  }
  .subContentSection {
    width: 400px;
  }
  ion-card-content {

    position: absolute;
    top: 80%;
    left: 10%;
  }

  .headerTitle {
    top: 40%;
    font-size: 1.5rem;
    color: black;
    transition: color 0.3s ease, font-size 0.3s ease; /* Transition for color and font-size */
    margin-inline: 340%;
  }

  .subTitle{
    width: 350px;
    top: 50%;
    font-size: 1.0rem;
    color: black;
    margin-inline: 80%;
  }
  .countryContainer{
    width: 500px;
    position: absolute;
    top: 60%;
    // margin-inline: 20%;
    p{
      margin-inline: 20%;
    }
    ion-button{
      cursor: pointer;
      text-transform: none;
    }
  }
}
